/* ボディ */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/bg-pattern-1.svg), url(assets/bg-main-desktop.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top -40px right 0, center;
    font-family: 'IBM Plex Sans', sans-serif;
}
/* ヘッダー */
header{
    width: 1110px;
    margin-top: 62px;
}
/* メインテキスト */
main{
    width: 1110px;
    margin-top: 127px;
}
main h1{
    width: 1015px;
    color: #191826;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -0.0625rem;
}
main .desc{
    width: 825px;
    margin: 40px 0 0 0;
    color: #191826;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
}
/* プラン詳細 */
section{
    position: relative;
    width: 1110px;
    height: 600px;
    margin-top: 321px;
    background: #191826;
    background-image: url(assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 336px;
    border-radius: 12px;
}
.app-img{
    position: absolute;
    left: 102px;
    bottom: 171px;
    width: 312px;
}
.plan {
    position: absolute;
    right: 95px;
    top: 90px;
    width: 446px;
    height: 625px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FA7453;
    border-radius: 12px;
}
.plan h2{
    width: 333px;
    margin:58px 0 0 0;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 2.5rem;
}
.plan .desc{
    width: 333px;
    margin: 22px 0 0 0;
    color: #FCFAF9;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
}
.plan .price{
    width: 333px;
    margin: 39px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 4.0625rem;
}
.price span{
    font-weight: 400;
    font-size: 1.25rem;
}
.plan button{
    width: 333px;
    height: 61px;
    border-radius: 12px;
    border: none;
}
.ios-button{
    margin-top: 32px;
    background: #191826;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.0112rem;
}
.ios-button:hover{
    background: #66E2DC;
    cursor: pointer;
    transition-duration: 0.3s;
}
.android-button{
    margin-top: 16px;
    background: #FCFAF9;
    color: #191826;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.0112rem;
}
.android-button:hover{
    background: #FFB964;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* フッター */
footer{
    width: 1110px;
    height: 79px;
    margin-top: 202px;
    margin-bottom: 91px;
    display: flex;
    flex-direction: row;
}
.info-box{
    display: flex;
    flex-direction: row;
}
.footer-icon{
    width: 146px;
    height: 32px;
}
footer address{
    width: 366px;
    margin-left: 137.6px;
    color: #191826;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.625rem;
}
.media-box{
    margin-top: 29px;
    margin-left: 359px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sns:hover{
    
}

/* タブレット版
------------------------------------------------------------- */
@media (min-width: 768px) and (max-width:1214px){
/* ボディ */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/bg-pattern-1.svg), url(assets/bg-main-tablet.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top -40px right -35.7px, top -230px left -400px;
    font-family: 'IBM Plex Sans', sans-serif;
}
/* ヘッダー */
header{
    width: 696px;
    margin-top: 62px;
}
/* メインテキスト */
main{
    width: 696px;
    margin-top: 95px;
}
main h1{
    width: 520px;
    color: #191826;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.727273px;
}
main .desc{
    width: 514px;
    margin: 28px 0 0 0;
    color: #191826;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
/* プラン詳細 */
section{
    position: relative;
    width: 696px;
    height: 600px;
    margin-top: 249px;
    background: #191826;
    background-image: url(assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top -32px left 229px;
    border-radius: 12px;
}
.app-img{
    position: absolute;
    left: 64px;
    bottom: 182px;
    width: 270.2px;
}
.plan {
    position: absolute;
    right: 58px;
    top: 150px;
    width: 399px;
    height: 546px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FA7453;
    border-radius: 12px;
}
.plan h2{
    width: 302px;
    margin:48px 0 0 0;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 2rem;
}
.plan .desc{
    width: 302px;
    margin: 12px 0 0 0;
    color: #FCFAF9;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.plan .price{
    width: 302px;
    margin: 36px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 4.0625rem;
}
.price span{
    font-weight: 400;
    font-size: 1.25rem;
}
.plan button{
    width: 296px;
    height: 61px;
    border-radius: 12px;
    border: none;
}
.ios-button{
    margin-top: 32px;
    background: #191826;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.0112rem;
}
.ios-button:hover{
    background: #66E2DC;
    cursor: pointer;
    transition-duration: 0.3s;
}
.android-button{
    margin-top: 16px;
    background: #FCFAF9;
    color: #191826;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.0112rem;
}
.android-button:hover{
    background: #FFB964;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* フッター */
footer{
    width: 696px;
    height: 143px;
    margin-top: 183px;
    margin-bottom: 85px;
    display: flex;
    flex-direction: row;
}
.info-box{
    width: 366px;
    display: flex;
    flex-direction: column;
}
.footer-icon{
    width: 146px;
    height: 32px;
}
footer address{
    margin-top: 32px;
    margin-left: 0;
    width: 366px;
    color: #191826;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.625rem;
}
.media-box{
    margin-top: 94px;
    margin-left: 230px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sns:hover{
    
}
}

/* モバイル版
------------------------------------------------------------- */
@media (max-width: 767px){
    /* ボディ */
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(assets/bg-main-mobile.png);
        background-repeat: no-repeat, no-repeat;
        background-position: top -230px left 0px;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    /* ヘッダー */
    header{
        width: 327px;
        margin-top: 40px;
    }
    /* メインテキスト */
    main{
        width: 327px;
        margin-top: 64px;
    }
    main h1{
        width: inherit;
        color: #191826;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -0.0284rem;
    }
    main .desc{
        width: inherit;
        margin: 28px 0 0 0;
        color: #191826;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.625rem;
    }
    /* プラン詳細 */
    section{
        position: relative;
        width: 375px;
        height: 600px;
        margin-top: 166px;
        background: #191826;
        background-image: url(assets/bg-pattern-2.svg);
        background-repeat: no-repeat;
        background-position: top 0 left 50%;
        border-radius: 12px;
    }
    .app-img{
        position: absolute;
        left: 80px;
        bottom: 268px;
        width: 208px;
    }
    .plan {
        position: absolute;
        right: 0;
        top: 380px;
        width: 375px;
        height: 546px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FA7453;
        border-radius: 12px;
    }
    .plan h2{
        width: 302px;
        margin:48px 0 0 0;
        color: #FCFAF9;
        font-weight: 700;
        font-size: 2rem;
    }
    .plan .desc{
        width: 302px;
        margin: 12px 0 0 0;
        color: #FCFAF9;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
    .plan .price{
        width: 302px;
        margin: 36px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FCFAF9;
        font-weight: 700;
        font-size: 4.0625rem;
    }
    .price span{
        font-weight: 400;
        font-size: 1.25rem;
    }
    .plan button{
        width: 296px;
        height: 61px;
        border-radius: 12px;
        border: none;
    }
    .ios-button{
        margin-top: 32px;
        background: #191826;
        color: #FCFAF9;
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: -0.0112rem;
    }
    .ios-button:hover{
        background: #66E2DC;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    .android-button{
        margin-top: 16px;
        background: #FCFAF9;
        color: #191826;
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: -0.0112rem;
    }
    .android-button:hover{
        background: #FFB964;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    
    /* フッター */
    footer{
        width: 327px;
        height: 253px;
        margin-top: 390px;
        margin-bottom: 85px;
        display: flex;
        flex-direction: column;
    }
    .info-box{
        width: inherit;
        display: flex;
        flex-direction: column;
    }
    .footer-icon{
        width: 146px;
        height: 32px;
    }
    footer address{
        margin-top: 32px;
        margin-left: 0;
        width: inherit;
        color: #191826;
        font-weight: 400;
        font-size: 1rem;
        font-style: normal;
        line-height: 1.625rem;
    }
    .media-box{
        margin-top: 64px;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .sns:hover{
        
    }
    }
