/* ボディ */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/bg-pattern-1.svg), url(assets/bg-main-desktop.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top -2.5rem right 0, center;
    font-family: 'IBM Plex Sans', sans-serif;
}
/* ヘッダー */
header{
    width: 69.375rem;
    margin-top: 3.875rem;
}
/* メインテキスト */
main{
    width: 69.375rem;
    margin-top: 7.9375rem;
}
main h1{
    width: 63.4375rem;
    color: #191826;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -0.0625rem;
}
main .desc{
    width: 51.5625rem;
    margin: 2.5rem 0 0 0;
    color: #191826;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
}
/* プラン詳細 */
section{
    position: relative;
    width: 69.375rem;
    height: 37.5rem;
    margin-top: 20.0625rem;
    background: #191826;
    background-image: url(assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 21rem;
    border-radius: 0.75rem;
}
.app-img{
    position: absolute;
    left: 6.375rem;
    bottom: 10.6875rem;
    width: 19.5rem;
}
.plan {
    position: absolute;
    right: 5.9375rem;
    top: 5.625rem;
    width: 27.875rem;
    height: 39.0625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FA7453;
    border-radius: 0.75rem;
}
.plan h2{
    width: 20.8125rem;
    margin:3.625rem 0 0 0;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 2.5rem;
}
.plan .desc{
    width: 20.8125rem;
    margin: 1.375rem 0 0 0;
    color: #FCFAF9;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
}
.plan .price{
    width: 20.8125rem;
    margin: 2.4375rem 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 4.0625rem;
}
.price span{
    font-weight: 400;
    font-size: 1.25rem;
}
.plan button{
    width: 20.8125rem;
    height: 3.8125rem;
    border-radius: 0.75rem;
    border: none;
}
.ios-button{
    margin-top: 2rem;
    background: #191826;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.0112rem;
}
.ios-button:hover{
    background: #66E2DC;
    cursor: pointer;
    transition-duration: 0.3s;
}
.android-button{
    margin-top: 1rem;
    background: #FCFAF9;
    color: #191826;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.0112rem;
}
.android-button:hover{
    background: #FFB964;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* フッター */
footer{
    width: 69.375rem;
    height: 4.9375rem;
    margin-top: 12.625rem;
    margin-bottom: 5.6875rem;
    display: flex;
    flex-direction: row;
}
.info-box{
    display: flex;
    flex-direction: row;
}
.footer-icon{
    width: 9.125rem;
    height: 2rem;
}
footer address{
    width: 22.875rem;
    margin-left: 8.6rem;
    color: #191826;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.625rem;
}
.media-box{
    margin-top: 1.8125rem;
    margin-left: 22.4375rem;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}
.sns:hover{
    filter: invert(57%) sepia(46%) saturate(1335%) hue-rotate(325deg) brightness(99%) contrast(98%); 
}

/* タブレット版
------------------------------------------------------------- */
@media (min-width: 48rem) and (max-width:75.875rem){
/* ボディ */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/bg-pattern-1.svg), url(assets/bg-main-tablet.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top -2.5rem right -2.2313rem, top -14.375rem left -25rem;
    font-family: 'IBM Plex Sans', sans-serif;
}
/* ヘッダー */
header{
    width: 43.5rem;
    margin-top: 3.875rem;
}
/* メインテキスト */
main{
    width: 43.5rem;
    margin-top: 5.9375rem;
}
main h1{
    width: 32.5rem;
    color: #191826;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.0455rem;
}
main .desc{
    width: 32.125rem;
    margin: 1.75rem 0 0 0;
    color: #191826;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
/* プラン詳細 */
section{
    position: relative;
    width: 43.5rem;
    height: 37.5rem;
    margin-top: 15.5625rem;
    background: #191826;
    background-image: url(assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top -2rem left 14.3125rem;
    border-radius: 0.75rem;
}
.app-img{
    position: absolute;
    left: 4rem;
    bottom: 11.375rem;
    width: 16.8875rem;
}
.plan {
    position: absolute;
    right: 3.625rem;
    top: 9.375rem;
    width: 24.9375rem;
    height: 34.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FA7453;
    border-radius: 0.75rem;
}
.plan h2{
    width: 18.875rem;
    margin:3rem 0 0 0;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 2rem;
}
.plan .desc{
    width: 18.875rem;
    margin: 0.75rem 0 0 0;
    color: #FCFAF9;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.plan .price{
    width: 18.875rem;
    margin: 2.25rem 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 4.0625rem;
}
.price span{
    font-weight: 400;
    font-size: 1.25rem;
}
.plan button{
    width: 18.5rem;
    height: 3.8125rem;
    border-radius: 0.75rem;
    border: none;
}
.ios-button{
    margin-top: 2rem;
    background: #191826;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.0112rem;
}
.ios-button:hover{
    background: #66E2DC;
    cursor: pointer;
    transition-duration: 0.3s;
}
.android-button{
    margin-top: 1rem;
    background: #FCFAF9;
    color: #191826;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.0112rem;
}
.android-button:hover{
    background: #FFB964;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* フッター */
footer{
    width: 43.5rem;
    height: 8.9375rem;
    margin-top: 11.4375rem;
    margin-bottom: 5.3125rem;
    display: flex;
    flex-direction: row;
}
.info-box{
    width: 22.875rem;
    display: flex;
    flex-direction: column;
}
.footer-icon{
    width: 9.125rem;
    height: 2rem;
}
footer address{
    margin-top: 2rem;
    margin-left: 0;
    width: 22.875rem;
    color: #191826;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.625rem;
}
.media-box{
    margin-top: 5.875rem;
    margin-left: 14.375rem;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}
.sns:hover{
    filter: invert(57%) sepia(46%) saturate(1335%) hue-rotate(325deg) brightness(99%) contrast(98%);
}
}

/* モバイル版
------------------------------------------------------------- */
@media (max-width: 47.9375rem){
    /* ボディ */
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(assets/bg-main-mobile.png);
        background-repeat: no-repeat, no-repeat;
        background-position: top -14.375rem left 0rem;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    /* ヘッダー */
    header{
        width: 20.4375rem;
        margin-top: 2.5rem;
    }
    /* メインテキスト */
    main{
        width: 20.4375rem;
        margin-top: 4rem;
    }
    main h1{
        width: inherit;
        color: #191826;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -0.0284rem;
    }
    main .desc{
        width: inherit;
        margin: 1.75rem 0 0 0;
        color: #191826;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.625rem;
    }
    /* プラン詳細 */
    section{
        position: relative;
        width: 23.4375rem;
        height: 37.5rem;
        margin-top: 10.375rem;
        background: #191826;
        background-image: url(assets/bg-pattern-2.svg);
        background-repeat: no-repeat;
        background-position: top 0 left 50%;
        border-radius: 0.75rem;
    }
    .app-img{
        position: absolute;
        left: 5rem;
        bottom: 16.75rem;
        width: 13rem;
    }
    .plan {
        position: absolute;
        right: 0;
        top: 23.75rem;
        width: 23.4375rem;
        height: 34.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FA7453;
        border-radius: 0.75rem;
    }
    .plan h2{
        width: 18.875rem;
        margin:3rem 0 0 0;
        color: #FCFAF9;
        font-weight: 700;
        font-size: 2rem;
    }
    .plan .desc{
        width: 18.875rem;
        margin: 0.75rem 0 0 0;
        color: #FCFAF9;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .plan .price{
        width: 18.875rem;
        margin: 2.25rem 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FCFAF9;
        font-weight: 700;
        font-size: 4.0625rem;
    }
    .price span{
        font-weight: 400;
        font-size: 1.25rem;
    }
    .plan button{
        width: 18.5rem;
        height: 3.8125rem;
        border-radius: 0.75rem;
        border: none;
    }
    .ios-button{
        margin-top: 2rem;
        background: #191826;
        color: #FCFAF9;
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: -0.0112rem;
    }
    .ios-button:hover{
        background: #66E2DC;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    .android-button{
        margin-top: 1rem;
        background: #FCFAF9;
        color: #191826;
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: -0.0112rem;
    }
    .android-button:hover{
        background: #FFB964;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    
    /* フッター */
    footer{
        width: 20.4375rem;
        height: 15.8125rem;
        margin-top: 24.375rem;
        margin-bottom: 5.3125rem;
        display: flex;
        flex-direction: column;
    }
    .info-box{
        width: inherit;
        display: flex;
        flex-direction: column;
    }
    .footer-icon{
        width: 9.125rem;
        height: 2rem;
    }
    footer address{
        margin-top: 2rem;
        margin-left: 0;
        width: inherit;
        color: #191826;
        font-weight: 400;
        font-size: 1rem;
        font-style: normal;
        line-height: 1.625rem;
    }
    .media-box{
        margin-top: 4rem;
        margin-left: 0rem;
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
    }
    .sns:hover{
        filter: invert(57%) sepia(46%) saturate(1335%) hue-rotate(325deg) brightness(99%) contrast(98%);
    }
    }
